In [119]:
from bs4 import BeautifulSoup
import requests

req = requests.get('https://www.ons.gov.uk/economy/inflationandpriceindices/bulletins/consumerpriceinflation/september2023')

soup = BeautifulSoup(req.text, "html")

<Response [200]>

In [55]:
table = soup.find_all("table")[0]
print(table)                        # column headings start with <th> tags, while information in the table all start with <tr> tags

<table class="table">
<caption class="table__caption">Table 1: CPIH, OOH component and CPI index values, and annual and monthly rates, UK<br/><span class="table__subtitle">September 2022 to September 2023</span></caption>
<colgroup><col style="width: 9.6%"/><col style="width: 10%"/><col style="width: 10%"/><col style="width: 10%"/><col style="width: 10%"/><col style="width: 10%"/><col style="width: 10%"/><col style="width: 10%"/><col style="width: 10%"/><col style="width: 10%"/></colgroup>
<tr class="table__header-row"><td class="align-left"></td><td class="align-left"></td><th class="align-right" scope="col">CPIH Index <br/>(UK, 2015 = 100)</th><th class="align-right" scope="col">CPIH 12-<br/>month rate </th><th class="align-right" scope="col">CPIH 1-<br/>month rate</th><th class="align-right" scope="col">CPI Index<br/>(UK, 2015=100)</th><th class="align-right" scope="col">CPI 12- <br/>month rate</th><th class="align-right" scope="col">CPI 1- <br/>month rate</th><th class="align-right" scope="col">OOH Index<br/>(UK, 2015=100)</th><th class="align-right" scope="col">OOH 12-<br/>month rate </th></tr>
<tr><th class="align-left" scope="row">2022</th><th class="align-left" scope="row">Sep </th><td class="align-right">122.3</td><td class="align-right">8.8</td><td class="align-right">0.4</td><td class="align-right">123.8</td><td class="align-right">10.1</td><td class="align-right">0.5</td><td class="align-right">114.2</td><td class="align-right">3.5</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Oct</th><td class="align-right">124.3</td><td class="align-right">9.6</td><td class="align-right">1.6</td><td class="align-right">126.2</td><td class="align-right">11.1</td><td class="align-right">2.0</td><td class="align-right">114.5</td><td class="align-right">3.6</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Nov</th><td class="align-right">124.8</td><td class="align-right">9.3</td><td class="align-right">0.4</td><td class="align-right">126.7</td><td class="align-right">10.7</td><td class="align-right">0.4</td><td class="align-right">115.0</td><td class="align-right">3.7</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Dec </th><td class="align-right">125.3</td><td class="align-right">9.2</td><td class="align-right">0.4</td><td class="align-right">127.2</td><td class="align-right">10.5</td><td class="align-right">0.4</td><td class="align-right">115.5</td><td class="align-right">3.8</td></tr>
<tr><th class="align-left" scope="row">2023</th><th class="align-left" scope="row">Jan</th><td class="align-right">124.8</td><td class="align-right">8.8</td><td class="align-right">-0.4</td><td class="align-right">126.4</td><td class="align-right">10.1</td><td class="align-right">-0.6</td><td class="align-right">115.9</td><td class="align-right">3.8</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Feb</th><td class="align-right">126.0</td><td class="align-right">9.2</td><td class="align-right">1.0</td><td class="align-right">127.9</td><td class="align-right">10.4</td><td class="align-right">1.1</td><td class="align-right">116.2</td><td class="align-right">3.9</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Mar</th><td class="align-right">126.8</td><td class="align-right">8.9</td><td class="align-right">0.7</td><td class="align-right">128.9</td><td class="align-right">10.1</td><td class="align-right">0.8</td><td class="align-right">116.6</td><td class="align-right">4.0</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Apr</th><td class="align-right">128.3</td><td class="align-right">7.8</td><td class="align-right">1.2</td><td class="align-right">130.4</td><td class="align-right">8.7</td><td class="align-right">1.2</td><td class="align-right">116.9</td><td class="align-right">4.0</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">May</th><td class="align-right">129.1</td><td class="align-right">7.9</td><td class="align-right">0.6</td><td class="align-right">131.3</td><td class="align-right">8.7</td><td class="align-right">0.7</td><td class="align-right">117.5</td><td class="align-right">4.2</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Jun</th><td class="align-right">129.4</td><td class="align-right">7.3</td><td class="align-right">0.2</td><td class="align-right">131.5</td><td class="align-right">7.9</td><td class="align-right">0.1</td><td class="align-right">118.1</td><td class="align-right">4.4</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Jul</th><td class="align-right">129.0</td><td class="align-right">6.4</td><td class="align-right">-0.3</td><td class="align-right">130.9</td><td class="align-right">6.8</td><td class="align-right">-0.4</td><td class="align-right">118.6</td><td class="align-right">4.5</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Aug</th><td class="align-right">129.4</td><td class="align-right">6.3</td><td class="align-right">0.4</td><td class="align-right">131.3</td><td class="align-right">6.7</td><td class="align-right">0.3</td><td class="align-right">119.2</td><td class="align-right">4.8</td></tr>
<tr><td class="align-left"></td><th class="align-left" scope="row">Sep </th><td class="align-right">130.1</td><td class="align-right">6.3</td><td class="align-right">0.5</td><td class="align-right">132.0</td><td class="align-right">6.7</td><td class="align-right">0.5</td><td class="align-right">119.8</td><td class="align-right">5.0</td></tr>
</table>

In [66]:
# extract (column) titles and (row) indexes
inflation_titles = table.find_all("th", class_="align-right")       # there are 'left-aligned' (rows) and 'right-aligned' (columns) titles 

inflation_indexes = table.find_all("th", class_="align-left")       # select row titles (indexes) in another variable
print(inflation_titles); print(inflation_indexes)

[<th class="align-right" scope="col">CPIH Index <br/>(UK, 2015 = 100)</th>, <th class="align-right" scope="col">CPIH 12-<br/>month rate </th>, <th class="align-right" scope="col">CPIH 1-<br/>month rate</th>, <th class="align-right" scope="col">CPI Index<br/>(UK, 2015=100)</th>, <th class="align-right" scope="col">CPI 12- <br/>month rate</th>, <th class="align-right" scope="col">CPI 1- <br/>month rate</th>, <th class="align-right" scope="col">OOH Index<br/>(UK, 2015=100)</th>, <th class="align-right" scope="col">OOH 12-<br/>month rate </th>]
[<th class="align-left" scope="row">2022</th>, <th class="align-left" scope="row">Sep </th>, <th class="align-left" scope="row">Oct</th>, <th class="align-left" scope="row">Nov</th>, <th class="align-left" scope="row">Dec </th>, <th class="align-left" scope="row">2023</th>, <th class="align-left" scope="row">Jan</th>, <th class="align-left" scope="row">Feb</th>, <th class="align-left" scope="row">Mar</th>, <th class="align-left" scope="row">Apr</th>, <th class="align-left" scope="row">May</th>, <th class="align-left" scope="row">Jun</th>, <th class="align-left" scope="row">Jul</th>, <th class="align-left" scope="row">Aug</th>, <th class="align-left" scope="row">Sep </th>]

In [67]:
# isolate text from html code
inflation_table_titles = [title.text for title in inflation_titles]

inflation_table_indexes = [title.text for title in inflation_indexes]

print(inflation_table_titles); print(inflation_table_indexes)

['CPIH Index (UK, 2015 = 100)', 'CPIH 12-month rate ', 'CPIH 1-month rate', 'CPI Index(UK, 2015=100)', 'CPI 12- month rate', 'CPI 1- month rate', 'OOH Index(UK, 2015=100)', 'OOH 12-month rate ']
['2022', 'Sep ', 'Oct', 'Nov', 'Dec ', '2023', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep ']

In [117]:
import pandas as pd

# add column headers to table
titles = pd.DataFrame(columns = inflation_table_titles)

# separate out and collate indexes
indexes1 = [inflation_table_indexes[0], "0", "0", "0", "0",  inflation_table_indexes[5]]

indexes2 = [inflation_table_indexes[1:5] + inflation_table_indexes[6:]]             # these two make 2 different kinds of lists, which cannot be used concurrently 

indexes1_pd = pd.DataFrame(indexes1)
indexes2_pd = pd.DataFrame(indexes2)

In [123]:
indexes2_pd

     0    1    2     3    4    5    6    7    8    9    10   11    12
0  Sep   Oct  Nov  Dec   Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep